/*
 * Treetable style modifications for EloraPlm
 */

div[id$="treetablePanel"]
{
    padding-bottom: 5px;
}

.ui-treetable .ui-treetable-toggler
{
    margin: 4px 2px 0 0;
}

.ui-treetable-toggler.ui-icon.ui-icon-triangle-1-s
{
    background-image: url(/nuxeo/icons/collapse.png);
    background-position: center center;
}
.ui-treetable-toggler.ui-icon.ui-icon-triangle-1-e
{
    background-image: url(/nuxeo/icons/expand.png);
    background-position: center center;
}

.ui-treetable table
{
    width: auto;
}

.ui-treetable table.treetable
{
    width: 100%;
}

.ui-treetable table.treetable,
.ui-treetable table.treetable tbody,
.ui-treetable table.treetable tbody tr
{
    border: 1px solid #e6e9ef;
}

.ui-treetable table.treetable tbody td
{
    border-width: 1px 0;
    border-color: #e6e9ef;
    border-style: solid;
    white-space: normal;
}

.nx-page .ui-treetable button
{
    height: auto;
    padding: 0;
}

.ui-treetable
{
    font-size: 0.9em;
}

.ui-treetable-smallFont
{
    font-size: 0.8em;
}

.ttButtonsPanel
{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    
    position: sticky;
    bottom: 20px;
    padding: 10px;
    border: 1px solid #e6e9ef;
    box-shadow: -10px 0 10px #fff, 10px 0 10px #fff, 0 10px 5px #fff, 0 -10px 5px #fff;
    background: linear-gradient(to right, rgba(248,249,251,0.9) 0%, rgba(248,249,251,0.5) 40%, rgba(248,249,251,0.9) 70%)
}

.ttButtonsPanel .widgetPanel.actionsWidgetPanel
{
    padding: 0;
}

.nx-page .ttButtonsPanel a.button:hover
{
    color: #053832;
    border-color: #2c874e;
    box-shadow: 0 0 3px #8cd600;
}

.ttButtons,
.ttInverseButtons
{
    text-align: right;
}

.nx-page .ttButtonsPanel a.button
{
    margin: 0;
    border-radius: 0;
    box-shadow: 0 1px 1px #ddd;
}

.nx-page .ttButtonsPanel a.button.mainAction
{
    text-transform: uppercase;
    background-color: #1c5531;
    border-color: #053832;
    color: #fff;
}

.nx-page .ttButtonsPanel a.button.mainAction:hover
{
    background-color: #053832;
    color: #fff;
}

.nx-page .ttSelectionButtons a.button
{
    margin-right: 0.3em;
    background-color: #f7faff;
    border-color: #5cf;
}

.nx-page .ttButtons a.button,
.nx-page .ttInverseButtons a.button
{
    margin-left: 0.3em;
}

.ttSelectionButtonsPanel
{
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

img.selectionActionsIndicator
{
    vertical-align: middle;
}

.ui-treetable .ui-treetable-header {
    overflow: hidden;
}

.ui-treetable .ui-treetable-header .treeHeaderTitle
{
    display: inline-block;
    float: left;
    text-align: left;
    padding-top: 0.6em;
    font-size: 1.1em;
    color: #000;
}

.ui-treetable .ui-treetable-header .treeHeaderButtons
{
    display: inline-block;
    float: right;
    text-align: right;
    padding-top: 0.6em;
}

.ui-treetable .ui-treetable-header .treeHeaderButtons > *
{
    vertical-align: middle;
}

.ui-treetable span.ui-treetable-indent
{
    border-left: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    box-shadow: -15px 1px 0 #fff;
    width: 10px;
    height: 14px;
    margin: 0 0 2px 6px;
}

.ui-treetable tr.rowIsNew span.ui-treetable-indent
{
    box-shadow: -15px 1px 0 #faffcb;
}

.ui-treetable tr.rowIsRemoved span.ui-treetable-indent
{
    box-shadow: -15px 1px 0 #fff0ee;
}

.ui-treetable tr.rowIsModified span.ui-treetable-indent
{
    box-shadow: -15px 1px 0 #fcf8bc;
}

.ui-treetable tr.rowIsNew span.ui-treetable-indent:first-child,
.ui-treetable tr.rowIsRemoved span.ui-treetable-indent:first-child,
.ui-treetable tr.rowIsModified span.ui-treetable-indent:first-child,
.ui-treetable span.ui-treetable-indent:first-child
{
    box-shadow: unset;
}


.headerFilters
{
    margin-right: 2em;
    font-weight: normal;
}

.headerFilters input[type=checkbox]
{
    vertical-align: middle;
    margin-left: 1em;
    position: relative;
    top: -3px;
}


/* Table row styles */
.ui-treetable tr.rowIsNormal > td
{
    background-color: transparent;
}

.ui-treetable tr.rowIsNew > td
{
    background-color: #faffcb;
}

.ui-treetable tr.rowIsNew > td:first-child
{
    box-shadow: inset 4px 0 0 #aabb55;
}

.ui-treetable tr.rowIsNew > td:last-child
{
    background-color: transparent;
    background-image: linear-gradient(to left, transparent, #faffcb);
}

.ui-treetable tr.rowIsRemoved > td
{
    background-color: #fff0ee; 
}

.ui-treetable tr.rowIsRemoved > td:first-child
{
    box-shadow: inset 4px 0 0 #cc5555;
}

.ui-treetable tr.rowIsRemoved > td:last-child
{
    background-color: transparent;
    background-image: linear-gradient(to left, transparent, #fff0ee);
}

.ui-treetable tr.rowIsModified > td
{
    background-color: #fcf8bc; 
}

.ui-treetable tr.rowIsModified > td:first-child
{
    box-shadow: inset 4px 0 0 #ffc04d; 
}

.ui-treetable tr.rowIsModified > td:last-child
{
    background-color: transparent;
    background-image: linear-gradient(to left, transparent, #fcf8bc);
}
/* --- */


.ui-treetable tr.ui-state-hover,
.ui-treetable .ui-widget-content tr.ui-state-hover,
.ui-treetable .ui-widget-header tr.ui-state-hover
{
    background-color: #eee;
    box-shadow: none;
}

.ui-treetable .ui-treetable-data tr.ui-state-highlight,
.ui-treetable .ui-treetable-data tr.ui-state-hover
{
    cursor: unset;
}

.ui-treetable .ui-treetable-data tr.ui-state-highlight td:last-child,
.ui-treetable .ui-treetable-data tr.ui-state-hover td:last-child
{
    cursor: pointer;
}

.ui-treetable tr.ui-state-highlight,
.ui-treetable .ui-widget-content tr.ui-state-highlight,
.ui-treetable .ui-widget-header tr.ui-state-highlight
{
    color: initial;
    background: unset;
    text-shadow: unset;
    border-color: #5cf;
}

.ui-treetable tr.ui-state-highlight.rowIsNew,
.ui-treetable .ui-widget-content tr.ui-state-highlight.rowIsNew,
.ui-treetable .ui-widget-header tr.ui-state-highlight.rowIsNew
{
    border-color: #aabb55;
}


.ui-treetable tr.ui-state-highlight.rowIsRemoved,
.ui-treetable .ui-widget-content tr.ui-state-highlight.rowIsRemoved,
.ui-treetable .ui-widget-header tr.ui-state-highlight.rowIsRemoved
{
    border-color: #cc5555;
}


.ui-treetable tr.ui-state-highlight.rowIsModified,
.ui-treetable .ui-widget-content tr.ui-state-highlight.rowIsModified,
.ui-treetable .ui-widget-header tr.ui-state-highlight.rowIsModified
{
    border-color: #ffc04d;
}

.ui-treetable td.selection-checkbox
{
    color: #5cf;
    font-size: 15px;
    vertical-align: middle;
}


.ui-treetable tr.ui-state-highlight > td:last-child,
.ui-treetable .ui-widget-content tr.ui-state-highlight > td:last-child,
.ui-treetable .ui-widget-header tr.ui-state-highlight > td:last-child
{
    background-image: url(/nuxeo/icons/badge_selected_row_12.png);
    background-position: 12px center;
    background-repeat: no-repeat;
    background-color: #5cf;
    color: transparent;
}

.ui-treetable tr.ui-state-highlight.rowIsNew > td:last-child,
.ui-treetable .ui-widget-content tr.ui-state-highlight.rowIsNew > td:last-child,
.ui-treetable .ui-widget-header tr.ui-state-highlight.rowIsNew > td:last-child
{
    background-color: #ab5;
}

.ui-treetable tr.ui-state-highlight.rowIsRemoved > td:last-child,
.ui-treetable .ui-widget-content tr.ui-state-highlight.rowIsRemoved > td:last-child,
.ui-treetable .ui-widget-header tr.ui-state-highlight.rowIsRemoved > td:last-child
{
    background-color: #c55;
}


.ui-treetable tr.ui-state-highlight.rowIsModified > td:last-child,
.ui-treetable .ui-widget-content tr.ui-state-highlight.rowIsModified > td:last-child,
.ui-treetable .ui-widget-header tr.ui-state-highlight.rowIsModified > td:last-child
{
    background-color: #ffc04d;
}


.ui-treetable tr.ui-state-highlight > td,
.ui-treetable .ui-widget-content tr.ui-state-highlight > td,
.ui-treetable .ui-widget-header tr.ui-state-highlight > td
{
    border-color: #5cf;
    border-width: 2px 0;
}

.ui-treetable tr.ui-state-highlight > td:first-child,
.ui-treetable .ui-widget-content tr.ui-state-highlight > td:first-child,
.ui-treetable .ui-widget-header tr.ui-state-highlight > td:first-child
{
    border-left-width: 2px;
}

.ui-treetable tr.ui-state-highlight.rowIsNew > td:first-child,
.ui-treetable .ui-widget-content tr.ui-state-highlight.rowIsNew > td:first-child,
.ui-treetable .ui-widget-header tr.ui-state-highlight.rowIsNew > td:first-child,
.ui-treetable tr.ui-state-highlight.rowIsRemoved > td:first-child,
.ui-treetable .ui-widget-content tr.ui-state-highlight.rowIsRemoved > td:first-child,
.ui-treetable .ui-widget-header tr.ui-state-highlight.rowIsRemoved > td:first-child,
.ui-treetable tr.ui-state-highlight.rowIsModified > td:first-child,
.ui-treetable .ui-widget-content tr.ui-state-highlight.rowIsModified > td:first-child,
.ui-treetable .ui-widget-header tr.ui-state-highlight.rowIsModified > td:first-child
{
    border-left-width: 0;
}

.ui-treetable tr.ui-state-highlight.rowIsNew > td,
.ui-treetable .ui-widget-content tr.ui-state-highlight.rowIsNew > td,
.ui-treetable .ui-widget-header tr.ui-state-highlight.rowIsNew > td
{
    border-color: #aabb55;
}
.ui-treetable tr.ui-state-highlight.rowIsRemoved > td,
.ui-treetable .ui-widget-content tr.ui-state-highlight.rowIsRemoved > td,
.ui-treetable .ui-widget-header tr.ui-state-highlight.rowIsRemoved > td
{
    border-color: #cc5555;
}
.ui-treetable tr.ui-state-highlight.rowIsModified > td,
.ui-treetable .ui-widget-content tr.ui-state-highlight.rowIsModified > td,
.ui-treetable .ui-widget-header tr.ui-state-highlight.rowIsModified > td
{
    border-color: #ffc04d;
}


.ui-treetable .ui-widget-header.ui-treetable-header
{
    background-image: none;
    background-color: #f8f9fb;
    border: 1px solid #e6e9ef;
    border-bottom: none;
}

.ui-treetable .ui-state-default
{
    background-image: none;
    background-color: #f8f9fb;
    border: 1px solid #e6e9ef;
    color: #000;
}

.ui-treetable thead th
{
    text-align: left;
}


td.treetableColumn.alignCenter
{
    text-align: center;
}

td.treetableColumn.alignRight
{
    text-align: right;
}


.ui-paginator
{
    background: #f8f9fb;
    border-color: #e6e9ef;
    border-radius: 0;
    line-height: normal;
}

.ui-paginator-page:hover,
.ui-paginator-next:hover,
.ui-paginator-last:hover,
.ui-paginator-prev:hover,
.ui-paginator-first:hover
{
    border-color: #888;
    box-shadow: 0 0 1px #888;
}

.nx-page table.treetable tbody tr:hover
{
    background-color: #f8f9fb;
}
