/*
 * Webapp Base style modifications for EloraPlm
 */
 
#ambiance-notification
{
    z-index: 99998;
}
 
.nx-page .select2-drop
{
    z-index: 99999;
}

#descriptionBlock
{
    clear: both;
    padding: 3px;
}

#nxw_documentHeaderActions_panel .widgetPanel.actionsWidgetPanel {
    padding: 0;
}

#eloraMetadataHeading
{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    background-position: right center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    font-size: 0.9em;
    margin-bottom: 5px;
    border-top: 4px solid #aaa;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

#eloraMetadataHeading > table:first-child,
#eloraMetadataHeading > table:first-child tr
{
    border: none;
    background: transparent;
}

#eloraMetadataHeading > table:first-child tr
{
    height: 3em;
}

#eloraMetadataHeading > table:first-child td
{
    border: 1px solid #e8e8e8;
    background: transparent;
}

.versionColumn
{
    width: 7em;
}

.eloraReference
{
    border-radius: 3px;
    background-color: #e5e8e2;
    color: #053832;
    padding: 0.15em 0.3em 0.15em 0.3em;
    margin-right: 0.3em;
    border: 1px solid transparent;
    vertical-align: middle;
}

h1 .eloraReference
{
    background-color: #053832;
    color: white;
    border: none;
}

.nx-page table.dataOutput tbody tr:hover .eloraReference,
.nx-page .select2-results .select2-highlighted .eloraReference,
.nx-page table.dataTableLine tbody tr:hover .eloraReference,
.nx-page table.treetable tbody tr:hover .eloraReference
{
    border-color: #2c874e;
    color: #2c874e;
}

h1 .typeIcon
{
    vertical-align: middle;
    padding: 12px 10px 8px 10px;
    border-radius: 20px;
    background-color: white;
    margin-right: 0.3em;
    text-align: center;
    box-shadow: 0 0px 2px #053832;
    position: relative;
    top: 2px;
    left: 1px;
    padding: 12px 8px 8px 8px;
}

h1 .typeIcon img
{
    vertical-align: text-bottom;
}

.titleVersionLabel
{
    background-color: #fefefe;
    padding: 0 0.4em;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
    vertical-align: middle;
    margin-right: 0.3em;
}

table.treetable tbody td.ellipsisWhenOverflow
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.iconOnlyPanel .eloraReference
{
    padding: 0.2em 0.4em;
}

#headerRevision
{
    font-size: 1.4em;
    font-weight: bold;
}

#eloraMetadataHeading > table:first-child td.headerThumbnail
{
     width: 150px;
     height: 100px;
     max-width: 150px;
     max-height: 100px;
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
}

#eloraMetadataHeading label
{
    color: #777;
}

#nxw_headerThumbnailButtons_panel
{
    top: 80px;
    position: relative;
}

#nxw_headerThumbnailButtons_panel .actionsWidgetPanel
{
    text-align: center;
    padding: 0;
}

#nxw_headerThumbnailButtons_panel .horizontalAction a
{
    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;
    padding: 6px 8px;
    box-shadow: 0 0 2px gray;
}

#nxw_headerThumbnailButtons_panel .horizontalAction a:hover
{
    background-color: #fff;
}

#nxw_headerThumbnailButtons_panel .horizontalAction img
{
    vertical-align: text-bottom;
}

.goToWcMessage
{
    text-align: center;
    display: block;
    padding: 0.3em 2em;
    margin: 0.3em 0;
    background-color: rgba(255, 230, 50, 0.3);
    border: 1px solid #fd4;
}

.isObsoleteMessage
{
    color: #fff;
    text-align: center;
    display: block;
    padding: 0.3em 2em;
    margin: 0.3em 0;
    background-color: #053832;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    font-weight: bold;
    clear: both;
}

.nx-page .goToWcMessage a.button,
.nx-page .goToWcMessage a.button:hover
{
    margin: 0.5em;
    background-color: #fc5;
}

#eloraMetadataHeading.archivedVersion
{
    border-style: dashed none none;
}


.visualizedType,
.visualizedTypeProxy
{
     color: #AAA;
     font-size: 0.8em;
     margin-left: 0.5em;
}
.visualizedTypeProxy
{
    text-decoration: underline;
}

.lifeCycleStateLabel
{
    border-radius: 3px;
    line-height: 130%;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 0.2em 0.2em 0;
    padding: 0.06em 0.3em;
    vertical-align: baseline;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: default;
}
.lifeCycleStateLabel.hollow
{
    background-color: #fff;
    border: 1px solid #888;
    color: #888;
}
.lifeCycleStateLabel.filled
{
    background-color: #888;
    color: #fff;
}

.delayedLabel
{
    border-radius: 3px;
    line-height: 130%;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 0.2em 0.2em 0;
    padding: 0.06em 0.3em;
    vertical-align: baseline;
    text-transform: uppercase;
    white-space: nowrap;
    color: #e22;
    border: 2px solid #e22;
}

.delayedDate
{
    color: #e22;
}

.dataTable.widgetTable th, .dataTable.widgetTable td
{
    border-color: #e6e9ef;
    border-style: none solid solid none;
    border-width: 1px;
    padding: 0.7em 0.4em;
}

.dataTable.widgetTable th
{
    background-color: #f8f9fb;
}

.iconColumn img.proxyBadge
{
    display: inline-block;
    position: relative;
    margin-left: -16px;
    left: 8px;
    top: 3px;
}

.iconColumn .documentIcon
{
    display: inline-block;
}

.referenceColumn
{
    width: 10em;
    overflow: hidden;
}

.referenceColumn .eloraReference
{
    max-width: 10em;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.nx-page .contentViewHeaderSortTooltip.sortIndex a
{
    color: #8DD600;
}

.eloraFilesReadMode .simpleBox
{
    display: block;
}
.nx-page a.button.filtered
{
    background-color: #4CAF50; /* Green */
    color: white;
}

.nx-page a.button.filtered:hover
{
    background-color: #4CAF50; /* Green */
    color: white;
}

.buttonsPanel
{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    
    position: sticky;
    bottom: 20px;
    padding: 10px;
    border: 1px solid #e6e9ef;
    box-shadow: -10px 0 10px #fff, 10px 0 10px #fff, 0 10px 5px #fff, 0 -10px 5px #fff;
    background: linear-gradient(to right, rgba(248,249,251,0.9) 0%, rgba(248,249,251,0.5) 40%, rgba(248,249,251,0.9) 70%)
}

.nx-page .buttonsPanel .button
{
    margin: 0;
    border-radius: 0;
    box-shadow: 0 1px 1px #ddd;
}

.nx-page .buttonsPanel .button.mainAction
{
    text-transform: uppercase;
    background-color: #1c5531;
    border-color: #053832;
    color: #fff;
}

.nx-page .buttonsPanel .button.mainAction:hover
{
    background-color: #053832;
    color: #fff;
}

 
.filteredValues
{
    color: #777;
    font-size: 0.9em;
    line-height: 22px;
    vertical-align: middle;
    margin-left: 4px;
    margin-right: 4px;
}

.labelColumn.typeRelatedLabelColumn
{ 
   font-weight: bold;
}


.noPaddingContainer .containerField
{
    padding: 0;
}


.nx-page .tableButtonColumn
{
    width: 110px;
}

/*
// TODO It doesn't work
.nx-page .tableButtonColumn .button[disabled="disabled"],
.nx-page .tableButtonColumn .button[disabled],
.nx-page .tableButtonColumn input[type="submit"]:disabled
{
    background: none transparent;
    border: 1px solid #e6e9ef;
    box-shadow: none;
    color: #c6c6c6;
    cursor: default;
    display: initial;
}
*/

html.nx-page input.button.disabled[type="submit"]:disabled {
    display: initial;
}

.suppressedRelation
{
    font-style: italic;
    text-decoration: line-through;
}

.checkedOutLabel
{
    color: #b323ef;
}

.label.label-checked-out
{
    background-color: #faeeff;
    border: 1px solid #b323ef;
    color: #b323ef;
}


.nx-page input.numberInput[type="text"]
{
    width:200px;
    text-align:right;
}

.nx-page input.shortNumberInput[type="text"]
{
    width: 3em;
    height: 2em;
    padding: 0.3em 0.5em;
    text-align:right;
    margin-bottom: 0;
}

.opaqueBlockUI {
    background: #fff url(/nuxeo/img/standart_waiter.gif) center center no-repeat;
    opacity: 1;
}

.logClientName {
    color: #8a4;
}

.logProcessReference {
    color: #a84;
}

/*
 * 
 * Heading styles by doctype
 * 
 */

#eloraMetadataHeading.CadAssembly
{
    border-color: #a30;
}
#eloraMetadataHeading.CadPart
{
    border-color: #390;
}
#eloraMetadataHeading.CadDrawing
{
    border-color: #399;
}
#eloraMetadataHeading.CadDesignTable
{
    border-color: #666;
}

#eloraMetadataHeading.BomPart
{
    border-color: #779500;
}
#eloraMetadataHeading.BomPackaging
{
    border-color: #94792b;
}
#eloraMetadataHeading.BomProduct
{
    border-color: #2c89a0;
}
#eloraMetadataHeading.BomSpecification
{
    border-color: #a02c2c;
}
#eloraMetadataHeading.BomTool
{
    border-color: #ff7f2a;
}
#eloraMetadataHeading.BomCustomerProduct
{
    border-color: #2ca05a;
}
#eloraMetadataHeading.BomManufacturerPart
{
    border-color: #ab00ef;
}
#eloraMetadataHeading.Project
{
    border-color: #784421;
}

/* Colored percentage */

.percentageLabel
{
    border-radius: 3px;
    line-height: 130%;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 0.2em 0.2em 0;
    padding: 0.06em 1em;
    vertical-align: baseline;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #fff;
    color: #000;
}

table.dataTable .percentageLabel
{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.percentageLabel.lowest,
.percentageSelect.lowest
{
    background-color: #faa;
    color: #600;
    border: 1px solid #d88;
    /* background: linear-gradient(to left, #d66, #faa); */
}

.percentageLabel.low,
.percentageSelect.low
{
    background-color: #fca;
    color: #820;
    border: 1px solid #da8;
    /* background: linear-gradient(to left, #ea6, #fca); */
}

.percentageLabel.medium,
.percentageSelect.medium
{
    background-color: #ffb;
    color: #440;
    border: 1px solid #dd9;
    /* background: linear-gradient(to left, #ed8, #ffa); */
}

.percentageLabel.high,
.percentageSelect.high
{
    background-color: #efb;
    color: #240;
    border: 1px solid #cd9;
    /* background: linear-gradient(to left, #de8, #ffb); */
}

.percentageLabel.highest,
.percentageSelect.highest
{
    background-color: #dfa;
    color: #040;
    /* background: linear-gradient(to left, #ae8, #dfa); */
    border: 1px solid #040;
    font-weight: bold;
}

/* Project phases row styles */

.ui-datatable table.datatable tr.rowphase
{
    border-bottom: 2px solid #ddd;
}
.ui-datatable tr.rowphase > td
{
    background-color: transparent;
}
.ui-datatable tr.rowsubphase > td
{
    background-color: #fafafa;
}
.ui-datatable tr.rowgate > td
{
    background-color: #fffaf0;
}

.ui-datatable td .required-deliverables-empty
{
    background-color: #fad;
    padding: 7px;
    border-radius: 50%;
}

.ui-datatable td .required-deliverables-added
{
    background-color: #afd;
    padding: 7px;
    border-radius: 50%;
}

.eloraFancyBoxTable {
    border-collapse: separate;
    border-spacing: 0px 20px;
}

#fancybox-content .eloraFancyBoxTable .labelColumn {
  width: 12em;
  white-space:nowrap;
}
