/*
 * Webapp Base style modifications for EloraPlm
 */

.prewrap
{
    white-space: pre-wrap;
}


#ambiance-notification
{
    z-index: 99998;
}

.nx-page .select2-drop
{
    z-index: 99999;
}

#descriptionBlock
{
    clear: both;
    padding: 3px;
}

#nxw_documentHeaderActions_panel .widgetPanel.actionsWidgetPanel {
    padding: 0;
}

#eloraMetadataHeading
{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    background-position: right center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    font-size: 0.9em;
    margin-bottom: 5px;
    border-top: 4px solid #aaa;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

#eloraMetadataHeading > table:first-child,
#eloraMetadataHeading > table:first-child tr
{
    border: none;
    background: transparent;
}

#eloraMetadataHeading > table:first-child tr
{
    height: 3em;
}

#eloraMetadataHeading > table:first-child td
{
    border: 1px solid #e8e8e8;
    background: transparent;
}

.versionColumn
{
    width: 7em;
}

.eloraReference
{
    border-radius: 3px;
    background-color: #e5e8e2;
    color: #053832;
    padding: 0.15em 0.3em 0.15em 0.3em;
    margin-right: 0.3em;
    border: 1px solid transparent;
    vertical-align: middle;
}

.breadcrumbs .eloraReference
{
    padding: .1em .1em .1em .3em;
    border-radius: 3px;
    margin-right: .4em;
}

h1 .eloraReference
{
    background-color: #053832;
    color: white;
    border: none;
}

.nx-page table.dataOutput tbody tr:hover .eloraReference,
.nx-page .select2-results .select2-highlighted .eloraReference,
.nx-page table.dataTableLine tbody tr:hover .eloraReference,
.nx-page table.treetable tbody tr:hover .eloraReference
{
    border-color: #2c874e;
    color: #2c874e;
}

h1 .typeIcon
{
    vertical-align: middle;
    padding: 12px 10px 8px 10px;
    border-radius: 20px;
    background-color: white;
    margin-right: 0.3em;
    text-align: center;
    box-shadow: 0 0px 2px #053832;
    position: relative;
    top: 2px;
    left: 1px;
    padding: 12px 8px 8px 8px;
}

h1 .typeIcon img
{
    vertical-align: text-bottom;
}

.titleVersionLabel
{
    background-color: #fefefe;
    padding: 0 0.4em;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
    vertical-align: middle;
    margin-right: 0.3em;
}

table.treetable tbody td.ellipsisWhenOverflow
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.iconOnlyPanel .eloraReference
{
    padding: 0.2em 0.4em;
}

#treeExplorer .ui-widget-content
{
    border: none;
    font-size: .9em;
    background: transparent;
}

#treeExplorer img
{
    vertical-align: middle;
    margin-right: .5em;
}

#treeExplorer .ui-tree
{
    width: 100%;
}

#treeExplorer .ui-tree .ui-treenode
{
    padding: .25em;
}

#treeExplorer li.currentDoc > .ui-treenode-content > .ui-treenode-label
{
    background-color: #eee;
}

#treeExplorer li.domain > .ui-treenode-content > .ui-treenode-label
{
    font-weight: bold;
}

#treeExplorer .ui-treenode-label
{
    padding: .1em .5em;
    border-radius: .2em;
}

#treeExplorer .structureRefreshButton
{
    background: transparent;
    border: none;
    float: right;
    position: relative;
    z-index: 10000;
}


.nxMainContainer #column_sidebar_browse #nxw_treeExplorerTabs_tab_content
{
    max-height: calc(100vh - 140px);
    overflow-y: auto;
}

.nxMainContainer #column_sidebar_clipboard
{
    font-size: 0.85em;
}

.nxMainContainer #column_sidebar_clipboard .userClipboard
{
    width: 340px;
}

#column_sidebar_buttons .sidebar_badge
{
    background-color: #1c5531;
    color: #fff;
    font-weight: bold;
    padding: .2em .35em;
    border-radius: 50%;
    margin: 0;
    position: relative;
    top: -5em;
    left: 1em;
    line-height: 1em;
    text-align: center;
    width: 16px;
    height: 16px;
    display: flex;
}

#sidebar_tasks_container
{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    display: flex;
    height: calc(100% - 20px);
    margin-top: 20px;
}

.sidebar_task_card
{
    padding: 0em 2em 1.5em 2em;
    margin: .5em 1em;
    border-bottom: 1px solid #eee;
    line-height: 1.8em;
    max-width: 50em;
}

.sidebar_task_header
{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.sidebar_task_title
{
    color: #053832;
    font-size: 1.1em;
    font-weight: bold;
}

.sidebar_task_dates
{
    font-size: .9em;
    text-transform: uppercase;
    word-spacing: 1.2em;
    margin-bottom: 1em;
}

.sidebar_task_dates .label
{
    word-spacing: normal;
}

.sidebar_task_link
{
    border-left: 5px solid #888;
    padding: 0 .5em;
}

#headerRevision
{
    font-size: 1.4em;
    font-weight: bold;
}

#eloraMetadataHeading > table:first-child td.headerThumbnail
{
     width: 150px;
     height: 100px;
     max-width: 150px;
     max-height: 100px;
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
}

#eloraMetadataHeading label
{
    color: #777;
}

#nxw_headerThumbnailButtons_panel
{
    top: 80px;
    position: relative;
}

#nxw_headerThumbnailButtons_panel .actionsWidgetPanel
{
    text-align: center;
    padding: 0;
}

#nxw_headerThumbnailButtons_panel .horizontalAction a
{
    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;
    padding: 6px 8px;
    box-shadow: 0 0 2px gray;
}

#nxw_headerThumbnailButtons_panel .horizontalAction a:hover
{
    background-color: #fff;
}

#nxw_headerThumbnailButtons_panel .horizontalAction img
{
    vertical-align: text-bottom;
}

#nxw_newDocument_after_view_box .documentType a
{
    display: flex;
}

.goToWcMessage
{
    text-align: center;
    display: block;
    padding: 0.3em 2em;
    margin: 0.3em 0;
    background-color: rgba(255, 230, 50, 0.3);
    border: 1px solid #fd4;
}

.isObsoleteMessage
{
    color: #fff;
    display: block;
    padding: 0.8em 2em 0.8em 1.3em;
    margin: 0.3em 0;
    background-color: #053832;
    border-left: 6px solid #a8aaa5;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    font-weight: bold;
    clear: both;
}

.isObsoleteMessage::before {
    content: "âœ ";
    color: #a8aaa5;
    font-size: 1.9em;
    vertical-align: middle;
}

.isArchivedMessage
{
    color: #fff;
    display: block;
    padding: 0.8em 2em 0.8em 2.8em;
    margin: 0.3em 0;
    background: #555 url('/nuxeo/icons/message_archived_16.png') 0.7em 1em / 16px no-repeat;
    border-left: 6px solid #ea0;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    font-weight: bold;
    clear: both;
}

.isTemplateMessage
{
    color: #fff;
    display: block;
    padding: 0.8em 2em 0.8em 2.8em;
    margin: 0.3em 0;
    background: #a5f url('/nuxeo/icons/message_template_16.png') 0.7em 1em / 16px no-repeat;
    border-left: 6px solid #518;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    font-weight: bold;
    clear: both;
}

.nx-page .goToWcMessage a.button,
.nx-page .goToWcMessage a.button:hover
{
    margin: 0.5em;
    background-color: #fc5;
}

#eloraMetadataHeading.archivedVersion
{
    border-style: dashed none none;
}


.visualizedType,
.visualizedTypeProxy
{
     color: #AAA;
     font-size: 0.8em;
     margin-left: 0.5em;
}
.visualizedTypeProxy
{
    text-decoration: underline;
}

.versionAndVisualizedType
{
    white-space: nowrap;
}

.lifeCycleStateLabel
{
    border-radius: 3px;
    line-height: 130%;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 0.2em 0.2em 0;
    padding: 0.06em 0.3em;
    vertical-align: baseline;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: default;
}
.lifeCycleStateLabel.hollow
{
    background-color: #fff;
    border: 1px solid #888;
    color: #888;
}
.lifeCycleStateLabel.filled
{
    background-color: #888;
    color: #fff;
}

.delayedLabel
{
    border-radius: 3px;
    line-height: 130%;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 0.2em 0.2em 0;
    padding: 0.06em 0.3em;
    vertical-align: baseline;
    text-transform: uppercase;
    white-space: nowrap;
    color: #e22;
    border: 2px solid #e22;
}

.delayedDate
{
    color: #e22;
}

.dataInput .dataTable,
.dataInput .dataTableLine
{
    border: 1px solid #e6e9ef;
    padding: 0.7em 0.6em 0.7em 0;
}

.dataInput .dataTable th,
.dataInput .dataTableLine th,
.dataInput .dataOutput th,
.dataInput .dataList th
{
    background-color: #f8f9fb;
    border-color: #e6e9ef;
    border-width: 1px;
    padding: 0.7em 0.4em 0.7em 0;
}

.dataTable.widgetTable th, .dataTable.widgetTable td
{
    border-color: #e6e9ef;
    border-style: none solid solid none;
    border-width: 1px;
    padding: 0.7em 0.4em;
}

.dataTable.widgetTable th
{
    background-color: #f8f9fb;
}

.iconColumn img.proxyBadge
{
    display: inline-block;
    position: relative;
    margin-left: -16px;
    left: 8px;
    top: 3px;
}

.iconColumn img.templateBadge
{
    display: inline-block;
    position: relative;
    margin-left: -16px;
    left: 6px;
    top: 3px;
}

.smallTable .iconColumn img.templateBadge
{
    left: -2px;
    top: -2px;
}

table.treetable img.templateBadge
{
    position: relative;
    top: 2px;
}

.iconColumn .documentIcon
{
    display: inline-block;
}

.referenceColumn
{
    width: 10em;
    overflow: hidden;
}

.referenceColumn .eloraReference
{
    max-width: 10em;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.resultOk {
    color: #053832;
}

.resultKo {
    font-weight: bold;
    color: #c22;
}

.nx-page .contentViewHeaderSortTooltip.sortIndex a
{
    color: #8DD600;
}

.eloraFilesReadMode .simpleBox
{
    display: block;
}
.nx-page a.button.filtered
{
    background-color: #4CAF50; /* Green */
    color: white;
}

.nx-page a.button.filtered:hover
{
    background-color: #4CAF50; /* Green */
    color: white;
}

.buttonsPanel
{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    
    position: sticky;
    bottom: 20px;
    padding: 10px;
    border: 1px solid #e6e9ef;
    box-shadow: -10px 0 10px #fff, 10px 0 10px #fff, 0 10px 5px #fff, 0 -10px 5px #fff;
    background: linear-gradient(to right, rgba(248,249,251,0.9) 0%, rgba(248,249,251,0.5) 40%, rgba(248,249,251,0.9) 70%)
}

.nx-page .buttonsPanel .button
{
    margin: 0;
    border-radius: 0;
    box-shadow: 0 1px 1px #ddd;
}

.nx-page .buttonsPanel .button.mainAction
{
    text-transform: uppercase;
    background-color: #1c5531;
    border-color: #053832;
    color: #fff;
}

.nx-page .buttonsPanel .button.mainAction:hover
{
    background-color: #053832;
    color: #fff;
}

.nx-page .single_tasks_block .buttonsGadget input[disabled],
.nx-page .single_tasks_block .buttonsGadget input[disabled]:hover
{
    display: initial;
}

.nx-page input[type="text"].editableButLikeViewMode
{
    border: none;
    box-shadow: none;
    background: transparent;
    position: relative;
    top: -0.5em;
}

 
.filteredValues
{
    color: #777;
    font-size: 0.9em;
    line-height: 22px;
    vertical-align: middle;
    margin-left: 4px;
    margin-right: 4px;
}

.labelColumn.typeRelatedLabelColumn
{ 
   font-weight: bold;
}


.noPaddingContainer .containerField
{
    padding: 0;
}


.nx-page .tableButtonColumn
{
    width: 110px;
}

/*
// TODO It doesn't work
.nx-page .tableButtonColumn .button[disabled="disabled"],
.nx-page .tableButtonColumn .button[disabled],
.nx-page .tableButtonColumn input[type="submit"]:disabled
{
    background: none transparent;
    border: 1px solid #e6e9ef;
    box-shadow: none;
    color: #c6c6c6;
    cursor: default;
    display: initial;
}
*/

html.nx-page input.button.disabled[type="submit"]:disabled
{
    display: initial;
}

.suppressedRelation
{
    font-style: italic;
    text-decoration: line-through;
}

.checkedOutLabel
{
    color: #b323ef;
}

.label.label-checked-out
{
    background-color: #faeeff;
    border: 1px solid #b323ef;
    color: #b323ef;
}


.nx-page select.checkedOutSelected
{
    color: #b323ef;
    border: 1px solid #b323ef;
}


.nx-page input.numberInput[type="text"]
{
    width:200px;
    text-align:right;
}

.nx-page input.shortNumberInput[type="text"]
{
    width: 3em;
    height: 2em;
    padding: 0.3em 0.5em;
    text-align:right;
    margin-bottom: 0;
}

.opaqueBlockUI
{
    background: #fff url(/nuxeo/img/standart_waiter.gif) center center no-repeat;
    opacity: 1;
}

.logClientName
{
    color: #8a4;
}

.logProcessReference
{
    color: #a84;
}

.ui-widget.ui-tabs
{
    font-size: 1em;
}

.ui-tabs.ui-widget-content.borderless
{
    border: none
}

.ui-tabs.ui-widget-content.borderless .ui-tabs-nav.ui-widget-header
{
    background: none;
    border-bottom: 1px solid #053832;
}

.ui-tabs.ui-widget-content.borderless .ui-tabs-nav li
{
    border-radius: 0;
}

.ui-tabs.ui-widget-content.borderless .ui-tabs-nav li.ui-tabs-selected
{
    position: relative;
    top: 2px;
    border-bottom: none;
    border-left: 1px solid #053832;
    border-right: 1px solid #053832;
    border-top: 2px solid #053832;
    background: #fff;
}

.ui-tabs.ui-widget-content.borderless .ui-tabs-nav li
{
    background: #f5f5f5;
    border: 1px solid #ddd;
}

.ui-tabs.ui-widget-content.borderless .ui-tabs-nav li.ui-state-default:hover
{
    box-shadow: none;
}

.workflow_start_node
{
    text-shadow: 1px 1px 2px #92c938, -1px -1px 2px #92c938, -1px 1px 2px #92c938, 1px -1px 2px #92c938;
}
.workflow_end_node
{
    text-shadow: 1px 1px 2px #f04545, -1px -1px 2px #f04545, -1px 1px 2px #f04545, 1px -1px 2px #f04545;
}

.workflow_start_node,
.workflow_end_node
{
    line-height: 1em;
    padding-top: .75em;
}

.workflow_simple_task
{
    padding-top: .2em;
    line-height: 1.5em;
}

.targetDiv
{
    overflow-y: scroll;
}

/* Fix to display required asterisk correctly when handledLabels */
td.fieldColumn > table > tbody > tr > td.labelColumn
{
    padding-right: 1em;
}

/*
 * 
 * Heading styles by doctype
 * 
 */

#eloraMetadataHeading.CadAssembly
{
    border-color: #a30;
}
#eloraMetadataHeading.CadPart
{
    border-color: #390;
}
#eloraMetadataHeading.CadDrawing
{
    border-color: #399;
}
#eloraMetadataHeading.CadDesignTable
{
    border-color: #666;
}

#eloraMetadataHeading.BomPart
{
    border-color: #779500;
}
#eloraMetadataHeading.Software
{
    border-color: #779500;
}
#eloraMetadataHeading.ElectronicComponent
{
    border-color: #779500;
}
#eloraMetadataHeading.BomPackaging
{
    border-color: #94792b;
}
#eloraMetadataHeading.BomProduct
{
    border-color: #2c89a0;
}
#eloraMetadataHeading.BomSpecification
{
    border-color: #a02c2c;
}
#eloraMetadataHeading.BomTool
{
    border-color: #ff7f2a;
}
#eloraMetadataHeading.BomCustomerProduct
{
    border-color: #2ca05a;
}
#eloraMetadataHeading.BomManufacturerPart
{
    border-color: #ab00ef;
}
#eloraMetadataHeading.Project
{
    border-color: #784421;
}
#eloraMetadataHeading.ProductionProcessValidation
{
    border-color: #7f2aff;
}
#eloraMetadataHeading.ProductValidation
{
    border-color: #668000;
}
#eloraMetadataHeading.ProductVerification
{
    border-color: #a80;
}
#eloraMetadataHeading.ProductionPartApprovalProcess
{
    border-color: #a40;
}
#eloraMetadataHeading.OmProcess
{
    border-color: #9a6d00;
}
/* Colored percentage */

.percentageLabel
{
    border-radius: 3px;
    line-height: 130%;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 0.2em 0.2em 0;
    padding: 0.06em 1em;
    vertical-align: baseline;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #fff;
    color: #000;
}

table.dataTable .percentageLabel
{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.percentageLabel.lowest,
.percentageSelect.lowest
{
    background-color: #faa;
    color: #600;
    border: 1px solid #d88;
    /* background: linear-gradient(to left, #d66, #faa); */
}

.percentageLabel.low,
.percentageSelect.low
{
    background-color: #fca;
    color: #820;
    border: 1px solid #da8;
    /* background: linear-gradient(to left, #ea6, #fca); */
}

.percentageLabel.medium,
.percentageSelect.medium
{
    background-color: #ffb;
    color: #440;
    border: 1px solid #dd9;
    /* background: linear-gradient(to left, #ed8, #ffa); */
}

.percentageLabel.high,
.percentageSelect.high
{
    background-color: #efb;
    color: #240;
    border: 1px solid #cd9;
    /* background: linear-gradient(to left, #de8, #ffb); */
}

.percentageLabel.highest,
.percentageSelect.highest
{
    background-color: #dfa;
    color: #040;
    /* background: linear-gradient(to left, #ae8, #dfa); */
    border: 1px solid #040;
    font-weight: bold;
}

/* Project phases row styles */

.ui-datatable table.datatable tr.rowphase
{
    border-bottom: 2px solid #ddd;
}
.ui-datatable tr.rowphase > td
{
    background-color: transparent;
}
.ui-datatable tr.rowsubphase > td
{
    background-color: #fafafa;
}
.ui-datatable tr.rowgate > td
{
    background-color: #fffaf0;
}
.ui-datatable table.datatable tr.rowphaseobsolete
{
    border-bottom: 2px solid #ddd;
    color: #a8aaa5;
    font-style: italic;
    /* background: #e4e4e2; */
}
.ui-datatable tr.rowphaseobsolete > td
{
    /* background: #e4e4e2; */
    color: #a8aaa5;
    font-style: italic;
}
.ui-datatable tr.rowsubphaseobsolete > td
{
    /* background: #e4e4e2; */
    color: #a8aaa5;
    font-style: italic;
}
.ui-datatable tr.rowgateobsolete > td
{
    /* background: #e4e4e2; */
    color: #a8aaa5;
    font-style: italic;
}
.ui-datatable td .required-deliverables-empty
{
    background-color: #fad;
    padding: 7px;
    border-radius: 50%;
}

.ui-datatable td .required-deliverables-added
{
    background-color: #afd;
    padding: 7px;
    border-radius: 50%;
}

.ui-datatable td .deliverables-allOptional
{
    background-color: #d3d3d3;
    padding: 7px;
    border-radius: 50%;
}

.ui-datatable td .deliverables-notDefined
{
    background-color: #faa;
    padding: 7px;
    border-radius: 50%;
}

.ui-datatable td .deliverables-notAnchored
{
    background-color: #fca;
    padding: 7px;
    border-radius: 50%;
}

.ui-datatable td .deliverables-completed
{
    background-color: #dfa;
    padding: 7px;
    border-radius: 50%;
}


.eloraFancyBoxTable {
    border-collapse: separate;
    border-spacing: 0px 20px;
}

#fancybox-content .eloraFancyBoxTable .labelColumn {
  width: 12em;
  white-space:nowrap;
}

.summaryTable {
    font-size: 0.9em;
}

.attachmentType {
    margin-left: 2em;
    padding: 0 0.5em;
    color: #a0a0a0;
    font-size: 0.9em;
}

/* Bom list comparison row styles */

.ui-datatable td.separator,
.ui-datatable tr.rowFirstMissing > td.separator,
.ui-datatable tr.rowSecondMissing > td.separator
{
    background-color: lightgray;
}

.ui-datatable tr.rowDiffQuantity > td
{
    background-color: lightblue;
}

.ui-datatable tr.rowFirstMissing > td
{
    background-color: #fff0ee;
}

.ui-datatable tr.rowSecondMissing > td
{
    background-color: #faffcb;
}
